<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dmelnyk.workinukraine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".application.WorkInUaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity_splash.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->
            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ui.navigation.NavigationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <service android:name=".services.GetDataIntentService"/> -->
        <service android:name=".services.SearchVacanciesService" />

        <activity
            android:name=".ui.vacancy_list.VacancyListActivity"
            android:label="@string/title_activity_vacancy"
            android:theme="@style/VacancyTheme" />
        <activity
            android:name=".ui.vacancy_viewer.WebViewActivity"
            android:configChanges="orientation|screenSize" />


        <activity
        android:name=".ui.vacancy_viewer.VacancyViewerActivity"
        android:configChanges="orientation|screenSize" />
        <activity android:name=".ui.filter.FilterActivity"></activity>

        <receiver android:name=".services.alarm.AlarmReceiver" />
        <receiver android:name=".services.alarm.BootReceiver" />
    </application>

</manifest>